[submodule "ext/openpgl"]
	path = ext/openpgl
	url = git@github.com:OpenPathGuidingLibrary/openpgl.git
[submodule "ext/openvdb"]
	path = ext/openvdb
	url = git@github.com:AcademySoftwareFoundation/openvdb.git
[submodule "ext/tbb"]
	path = ext/tbb
	url = git@github.com:oneapi-src/oneTBB.git
[submodule "ext/matplotlib-cpp"]
	path = ext/matplotlib-cpp
	url = git@github.com:lava/matplotlib-cpp.git
[submodule "ext/nanoflann"]
	path = ext/nanoflann
	url = git@github.com:jlblancoc/nanoflann.git
